<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>


<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li><%= "#{review.rating} stars, #{review.content}" %></li>
  <% end %>
</ul>


<%= link_to "Back to restaurant", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
